/* General Styles */
body {
  margin: 0;
  font-family: 'opensans-regular', sans-serif;
  scroll-behavior: smooth;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;
}

html {
  scroll-behavior: smooth;
}

nav ul.nav li.active a {
  color: #ff6347 !important;
}


header {
  position: sticky;
  top: 0;
  background-color: #333;
  z-index: 1000;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 10px 20px;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

header nav ul li a:hover {
  text-decoration: underline;
}

#hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('images/hero-image.jpg') no-repeat center center/cover;
  text-align: center;
  color: white;
}

.hero-content {
  padding: 20px;
  border-radius: 10px;
}

#hero h1 {
  font: 90px / 1.1em 'opensans-bold', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

h1 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 12px;
  letter-spacing: -1px;
}

@media only screen and (max-width: 900px) {
  #hero h1 {
    font: 78px / 1.1em 'opensans-bold', sans-serif;
  }
}

@media only screen and (max-width: 480px) {
  #hero h1 {
    font: 40px / 1.1em 'opensans-bold', sans-serif;
    margin: 0 auto 24px auto;
  }
}

#hero .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

#hero .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}

#hero .social li a {
  color: #fff;
}

ul#nav {
  min-height: 48px;
  width: auto;
  text-align: center;
}

#nav-wrap > a.mobile-btn {
  display: none;
}

ul#nav li.current a {
  color: #E64833;
}

ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  transition: color .2s ease-in-out
}

ul {
  list-style: none outside;
}

ul, ol {
  margin-bottom: 24px;
  margin-top: 12px;
}

#hero

#hero .banner-text h3 span, header .banner-text h3 a {
  color: #fff;
}

#nav-wrap {
  font: 12 px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

#hero h3 {
  color: #fff;
  font-family: 'Libre Baskerville', serif;
}

#hero .banner-text {
  width: 100%;
}

#hero .banner-text h3 {
  color: #A8A8A8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

section {
  padding: 50px 20px;
  min-height: 80vh;
}

#about {
  background-color: #244855;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#resume {
  background-color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#projects {
  background-color: #ebeeee;
  padding-top: 90px;
  padding-bottom: 60px;
}

#contact {
  background-color: #151515;
  padding-top: 5rem;
  padding-bottom: 7rem;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: center;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
  color: #313131;
  font-family: 'opensans-bold', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 6px;
}

p {
  margin: 0 0 30px 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

img {
  max-width: 100%;
  height: auto;
}

.intro-info {
  margin-top: 4.2rem;
  margin-right: 30px;
  margin-left: 30px;
}

.intro-info .lead {
  text-align: left;
  padding-left: 13rem;
}

.intro-info img {
  width: 12rem;
  height: 12rem;
  border: 1px solid #E64833;
  border-radius: 50%;
  margin: 0.9rem 1rem 0 2rem;
  float: left;
}

@media only screen and (max-width: 768px) {
  .intro-info img {
    height: 7.8rem;
    width: 7.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .intro-info img {
    float: none;
    height: 6.6rem;
    width: 6.6rem;
    display: inline-block;
  }
}

p.lead {
  font-family: "lora-regular", serif;
  font-size: 1.2rem;
  color: #FBE9D0;
  line-height: 1.7;
}

@media only screen and (max-width: 768px) {
  .intro-info .lead {
    padding-left: 11rem;
    letter-spacing: -1px;
  }
}

@media only screen and (max-width: 600px) {
  .intro-info .lead {
    padding-left: 0;
    text-align: center;
  }
}

h5 {
  font-size: 18px;
  line-height: 30px;
}

.section-intro h5 {
  color: #E64833;
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 0.3rem;
  letter-spacing: .4rem;
}

.section-intro {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 3.6rem;
  position: relative;
}

#about .section-intro {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .row {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.resume-button {
  text-align: center;
}

.button, .button:visited {
  font: 16px / 30px 'opensans-bold', sans-serif;
  background: #90aead;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 12px 20px;
  margin-bottom: 18px;
  border: none;
  cursor: pointer;
  height: auto;
  transition: all .2s ease-in-out;
  border-radius: 3px;
}

#resume .timeline-block {
  position: relative;
  padding-top: 1.5rem;
}

#resume .timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  background: #313131;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: 35%;
  top: .9rem;
  margin-left: -2.4rem;
}

#resume .timeline-header {
  float: left;
  width: 35%;
  padding-right: 90px;
  text-align: right;
}

#resume .timeline-header h3 {
  margin-bottom: 0;
}

h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 12px;
}

#resume .timeline-header p {
  font-family: "poppins-regular", sans-serif;
  font-size: 1.6rem;
  color: #888888;
}

@media only screen and (max-width: 1024px) {
  #resume .timeline-header {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 768px) {
  #resume .timeline-header, #resume .timeline-content {
    padding-left: 7rem;
  }
}

#resume .timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
}

#resume .resume-timeline {
  max-width: 980px;
}

.row {
  width: 94%;
  max-width: 1140px;
  margin: 0 auto;
}

#resume .resume-header {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  [class*="col-"] {
    padding: 0 18px;
  }
}

#resume .resume-header h2 {
  color: #E64833;
}


@media only screen and (max-width: 1024px) {
  #resume .timeline-header {
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  #resume .timeline-header h3 {
    font-size: 1.8rem;
  }
}

#resume .timeline-header h3 {
  margin-bottom: 0;
}

@media only screen and (max-width: 1024px) {
  #resume .timeline-header p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1024px) {
  #resume .timeline-content {
    padding-left: 50px;
  }
}

#resume .timeline-content {
  margin-left: 35%;
  padding-left: 60px;
}

@media only screen and (max-width: 1024px) {
  #resume .timeline-header h3{
    font-size: 1.8rem;
  }
}

#resume .timeline-content h4 {
  position: relative;
  padding-bottom: 1.8rem;
}

h4 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 6px;
}

@media only screen and (max-width: 600px) {
  [class*="col-"] {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  #resume .timeline-ico {
    left: 2.4rem;
  }
}

@media only screen and (max-width: 768px) {
  #resume .timeline-header {
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
  }
}

@media only screen and (max-width: 768px) {
  #resume .timeline-header h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  #resume .timeline-header p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  #resume .timeline-content {
    margin: 0;
  }
}

@media only screen and (max-width: 768px) {
  #resume .timeline-content h4 {
    padding-bottom: 0;
    padding-top: 2.1rem;
    margin-bottom: .6rem;
    font-size: 1.7rem;
  }
}

#resume .timeline-wrap::before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  top: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.row:after {
  clear: both;
}

.row:before, .row::after {
  content: " ";
  display: table;
}

#projects h1 {
  color: black;
}


.row .twelve {
  width: 100%;
}

.column, .columns {
  position: relative;
  padding: 0 20px;
  min-height: 1px;
  float: left;
}

#portfolio-wrapper .columns {
  margin-bottom: 36px;
}

.bgrid-quarters [class*="column"] {
  width: 33.333333%;
}


.portfolio-item .item-wrap {
  background: #fff;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
  display: block;
  cursor: pointer;
}

.portfolio-item .item-wrap img {
  vertical-align: bottom;
}

.portfolio-item .item-wrap .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: url(../src/images/portfolio/overlay-bg.png);
}

.portfolio-item .item-wrap:hover .overlay {
  opacity: 1;
}

.portfolio-item .portfolio-item-meta {
  padding: 18px;
}

.portfolio-item .portfolio-item-meta h5 {
  font: 14px/21px 'opensans-bold', sans-serif;
  color: #fff;
}

.portfolio-item .portfolio-item-meta p {
  font: 12px/18px 'opensans-light', sans-serif;
  color: #c6c7c7;
  margin-bottom: 0;
}

.portfolio-item .item-wrap .link-icon {
  display: block;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.mfp-hide {
  display: none !important;
}

.popup-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 8px rgba (0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 16px / 30px 'opensans-regular', sans-serif;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.modal-content img {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  display: block;
}

.close-modal:hover {
  color: #000;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.popup-modal .link-box {
  padding: 18px 36px;
  background: #111;
  text-align: left;
}

.popup-modal .link-box a {
  color: #fff;
  font: 11px / 21px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
  outline: 0;
  color: #90aead;
  transition: color .3s ease-in-out;
}

.popup-modal a.popup-modal-dismiss {
  margin-left: 24px;
}

#contact .section-intro h5 {
  color: #E64833;
}

#contact .section-intro h1 {
  color: white;
}

.section-intro h1 {
  font-family: 'opensans-bold', sans-serif;
  font-size: 3.6rem;
  color: #313131;
  line-height: 1.25;
  margin-bottom: 1.2rem;
}

#contact .section-intro p {
  color: rgba(255, 255, 255, 0.7);
}

.contact-info {
  margin: 4.8rem auto 0;
  font-family: "poppins-regular", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.contact-info .col-four {
  flex: 1;
  margin: 0;
}

.contact-info .icon {
  margin-bottom: 2.1rem;
}

.contact-info .icon i {
  font-size: 4.2rem;
  color: #ffffff;
  text-align: center;
}

.contact-info h5 {
  color: #E64833;
}

.contact-info p {
  margin: 0;
}